<?xml version="1.0"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <!--<add name="ConnectionString" connectionString="Data Source=PeopleKursach.mssql.somee.com;Persist Security Info=True;User ID=people;Password=AntiRsiEscACME"
            providerName="System.Data.SqlClient" />-->
        <!--<add name="GubaConnectionString" connectionString="Data Source=EVS8\SQLEXPRESS;Initial Catalog=Guba;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <add name="GubaConnectionString" connectionString="workstation id=EVSNovice.mssql.somee.com;packet size=4096;user id=igor222;pwd=22031978;data source=EVSNovice.mssql.somee.com;persist security info=False;initial catalog=EVSNovice"
            providerName="System.Data.SqlClient" />
 
    </connectionStrings>
    <system.web>
        <roleManager enabled="true" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
